*{/*reseta tudo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(./image/back.jpg);
    background-size: auto;
    background-position: center;
}
html{
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(image/back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;  
}
h1{
    text-align: center;
    color: #fff;
    font-size: 195%;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
}
h2{
    text-align: center;
    color: #fff;
    font-size: 148%;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;  
}
.clearfix{zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: hidden;
}
/*---------------------------------------*/
/*                  logo                */
/*-------------------------------------*/
.logo{
    float: left;
    height: 60px;
    width: auto;
    margin-top: 20px;
    margin-left: 30px;
}

/*---------------------------------------*/
/*               navegation             */
/*-------------------------------------*/
.navegacao{
    float: right;
    margin-top: 10px;
}
.navegacao a:link,
.navegacao a:visited {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    font-size: 80%;
    font-weight: 400;
    padding-bottom: 4px;
    border-bottom: transparent;
}
.navegacao a:hover,
.navegacao a:active{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    font-size: 80%;
    font-weight: 400;
    border-bottom: 2px solid #fff;
}
.icon_menu {
    position: absolute;
    color: #fff;
    display: none;
    right: 20px;
    top: 20px;
   font-size: 150%;
}
/*---------------------------------------*/
/*                  principal           */
/*-------------------------------------*/
.principal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.principal img{
    height: 300px;
    width: auto;
    margin: 0 auto;
    padding: 0;
}

/*---------------------------------------*/
/*                  botoes              */
/*-------------------------------------*/
.botoes{
    display: inline-block;
    margin-top: 30px;
}
.botoes a{
    text-decoration: none;
    font-size: 110%;
    text-transform: uppercase;
}
.botao1:link,
.botao1:visited{
    color: #fff;
    background-color: transparent;
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    margin-right: 114px;
    margin-left: 5px;
}
.botao1:hover,
.botao1:active {
    color: #222324;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    margin-right: 114px;
    margin-left: 5px;
}
.botao2:link,
.botao2:visited {
    background-color: transparent;
    color: #fff;
    padding: 8px 54px;
    border-radius: 25px;
    border: 2px solid #fff;
}
.botao2:hover,
.botao2:active {
    background-color: #fff;
    color: #222324;
    padding: 8px 54px;
    border-radius: 25px;
    border: 2px solid #fff;
}
/*---------------------------------------*/
/*           redes sociais              */
/*-------------------------------------*/
.social{
    display: block;
    width: 30%;
    margin: 40px auto;
}
.social img{
    height: 50px;
    width: auto;
    margin: 0 15px;
    padding: 2px;
    border: transparent;
}
.social img:hover,
.social img:active{
    border: 1px solid #fff;
}


/*---------------------------------------*/
/*           sobre o retiro             */
/*-------------------------------------*/
.sobre_retiro{
    padding: 40px 0;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(./image/back.jpg);
    background-size: cover;*/
    
}
.sobre_retiro h3{
    font-size: 150%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.sobre_retiro h3:after{
    display: block;
    height: 2px;
    width: 245px;;
    background-color: #fff;
    content: " ";
    margin: 5px auto 20px auto;
}
.texto{
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-weight: 400;
    font-size: 90%;
    word-spacing: 3px;
    margin-top: 40px;
    color: #fff;
}
.sobre ul{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.sobre ul li{
    padding: 10px 0;
}
/*.sobre:after{
    display: block;
    height: 2px;
    width: 90%;
    background-color: #fff;
    content: " ";
    margin: 5px auto 20px auto;
}*/

/*------------portifolio-----------*/

.portifolio {
    padding: 20px 0;
    width: 95%;
    margin: 2.5%;
}
.portifolio h4{
    text-align: left;
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
.portifolio ul{
    padding: 0;
    margin: 0;
}
.row {
    list-style: none;
    width: 100%;
    margin-top: 70px;
}
.portifolio li {
    float: left;
    display: block;
    width: 25%;
}
.fotos {
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.fotos img {
    width: 100%;
    height: auto;
    transform: scale(1);
    opacity: 0.7;
    transition: transform 0.2s;
}
.fotos img:hover{
    transform: scale(1.05);
    opacity: 1;
}

/*-----------LOCALIZACO----------------*/
.local h4{
    text-align: left;
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-left: 2.5%;
}
.localizacao {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 40px;
    border: 1px solid #fff;
    height: 79vh;
}
.localizacao h4{
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.localizacao p{
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    font-weight: 400;
    font-size: 90%;
    word-spacing: 3px;
    margin-top: 40px;
    color: #fff;
}
.localizacao ul{
    list-style: circle;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    text-align: justify;
    font-weight: 400;
    font-size: 85%;
    word-spacing: 3px;
    margin-top: 30px;
}

.localizacao ul li{
    margin-left: 40px;
    margin-top: 20px;
}
.mapa {
    margin-top: 30px;
    width: 50%;
    float: left;
}
.map{
    width: 95%;
    margin-right: 5%;
}
.chacara{
    margin-top: 30px;
   width: 50%;
    float: left;
}
/*-----------------Programacao------------*/

.program {
    margin: 40px 0;
}
.program a {
    font-size: 100%;
    text-transform: uppercase;
    padding: 5px 15px;
    text-decoration: none;
    color: #222324;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 25px;    
}
.program a:hover{
    border: 4px outset #fff;
}
.program a:active{
    border: 4px inset #fff;
}

.download {
    text-align: center;
}
.programacao_config{
    width: 95%;
    margin-left: 2.5%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}
.day h4{
    text-align: center;
    color: #fff;
    font-Size: 140%;
    font-weight: 400;
    text-transform: uppercase;
}
.programacao_texto {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 15px;
    border: 1px solid #fff;
    padding: 20px 10px;
}
.programacao_texto p {
    color: #fff;
    text-align: justify;
    font-size: 80%;
    font-weight: 400;
    word-spacing: 2px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
.programacao_texto .last_p{
    font-size: 90%;
    margin-top: 100px;
    margin-bottom: 27px;
}
.programacao_texto span{
    font-size: 100%;
    text-decoration:underline;
}
h5{
    color: #fff;
    text-align: center;
    font-size: 100%;
    font-weight: 400;
    margin: 10px 0;
}
h5:after {
    content:" ";
    background-color: #fff;
    height: 1px;
    margin: 3px auto 0 auto;
    width: 60px;
    display: block;
}
.dontshow p{
    color: transparent;
}
.first p{
    margin-top: 39px;
}

.last p{
    margin-top: 15px;
}
.last_inv {
    margin-top: 15px
}

/*--------------footer--------*/

footer{
    padding: 40px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
footer h4 {
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
footer p{
    text-align: center;
    font-weight: 400;
    font-size: 90%;
    word-spacing: 3px;
    margin-top: 40px;
    color: #fff;
}
.eu {
    
    margin-left: 90%;
    color: #fff;
    text-decoration: none;
    font-size: 70%;
    
}